<html>
    <head>
        <title>Dashboard</title>
    </head>

    <body>
        <h2>Welcome to Dashboard</h2>
        <a href="/admin">Admin-Only Route</a><br>
        <a href="/hr-department">HR Department Route</a><br>
        <a href="/finance-manager">Finance Manager Route</a><br>
        <a href="/it-clearance-2">IT Clearance 2+ Route</a><br>
        <a href="/legal-director">Legal Director Route</a><br>
        <a href="/ops-combined">Ops Combined Route</a><br>
        <a href="/exec-clearance-3">Exec Clearance 3 Route</a><br>
        <p><a href="/logout">Logout</a></p>
    </body>
</html>